.NavbarItem {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  width: 70vw;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
