.App {
  text-align: center;
}

nav,
.search,
.card-details {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.about-wrapper {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.form-horizontal {
  /* align-items: center; */
  display: flex;
  min-height: 2vh;
}
