.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.search {
  padding: 0% 10%;
}

.form-horizontal {
  /* align-items: center; */
  display: flex;
  min-height: 2vh;
}
