@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:ital@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

a:hover {
  color: green;
}

body {
  font-family: "Bangers", cursive;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: url("https://github.com/CrowdedAstronaut/all-about-anime/blob/main/src/assets/images/anime-background.jpg?raw=true")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 > a {
  padding-left: 1rem;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
}

header {
  /* background-color: black; */
  color: white;
}

header a {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  );
  /* grid-auto-rows: 1fr; */
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.App {
  text-align: center;
}

nav,
.search,
.card-details {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.about-wrapper {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

#searchQuery {
  background-color: white;
}

.form-horizontal {
  /* align-items: center; */
  display: flex;
  min-height: 2vh;
}

#navbar {
  font-size: 18px;
  /* background-image: linear-gradient(260deg, #161a24 0%, #062952 100%); */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.hamburger,
.close {
  font-size: 2rem;
  color: #fdfbfa;
}

nav {
  /* margin: 1rem auto; */
  /* background-color: #181a23; */
  padding: 1rem;
  z-index: 1000;
  display: flex;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* animate slide up and down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

nav:target {
  transform: translateY(0);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
}

nav a:focus {
  background-color: #f0c808;
  color: black;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

p {
  font-family: "Andika", sans-serif;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 100;
}
img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: max-content 150px 1fr;
}

.card:hover {
  opacity: 0.5;
}

.card-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-title {
  background-color: #6f7476;
  color: white;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  height: 150px;
}

.card-title h3 {
  font-weight: 300;
  font-size: 1.3rem;
  /* margin-bottom: 0; */
}

.details-container {
  color: white;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-details {
  padding: 1rem 2rem;
}

.details-image {
  padding: 1rem;
  width: 200px;
}

.details {
  padding: 1rem;
  width: 350px;
}

.details h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0;
}

.details h3 {
  font-style: italic;
  font-weight: 200;
  margin-top: 0;
}

.details h4 {
  margin-bottom: 0;
}

.details p {
  margin: 0;
}
/* Set box-sizing for all elements */
*,
:after,
:before {
  box-sizing: border-box;
}

/* Create color variables */
:root {
  --primary: #090909;
  --secondary: #6d6b6a;
  --secondary-light: #9f9a98;
  --white: #fff;
}

/* Style the button and tell it not to grow */
button {
  /* background-color: var(--primary); */
  border: 0;
  color: var(--white);
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  /* text-transform: uppercase; */
}

/* Add some margin on the left of any buttons
that follow another button or an input */
button + button,
input + button {
  margin-left: 2px;
}

form {
  padding: 1rem 0;
}

/* Style the input and tell it to grow */
input {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

/* Set the color of the placeholder text */
input::placeholder {
  color: var(--white);
}

/* Change the background of the input when
it is focused or hovered and remove its
default outline */
input:focus,
input:hover {
  background-color: var(--secondary);
  outline: 0;
}

img {
  /* margin-bottom: 1rem; */
  width: 100%;
}

@media screen and (min-width: 768px) {
  nav {
    /* border-bottom: 3px solid #484847;
    border-top: 3px solid #484847; */
    padding: 0;
    position: static;
    height: auto;
    transform: translateY(0);
  }
  .hamburger,
  .close {
    display: none;
  }
  nav ul {
    flex-flow: row wrap;
    justify-content: right;
    margin-right: 5%;
  }
}

/* Add a media query to add more space between
the button and input when the browser is at least
600px wide */
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
}

.gallery {
  column-count: 2;
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}
