@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:ital@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

a:hover {
  color: green;
}

body {
  font-family: "Bangers", cursive;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: url("https://github.com/CrowdedAstronaut/all-about-anime/blob/main/src/assets/images/anime-background.jpg?raw=true")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 > a {
  padding-left: 1rem;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}

header {
  background-color: black;
  color: white;
}

header a {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-auto-rows: 1fr; */
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

p {
  font-family: "Andika", sans-serif;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 100;
}
img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: max-content 150px 1fr;
}

.card:hover {
  opacity: 0.5;
}

.card-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-title {
  background-color: #6f7476;
  color: white;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  height: 150px;
}

.card-title h3 {
  font-weight: 300;
  font-size: 1.3rem;
  /* margin-bottom: 0; */
}

.details-container {
  color: white;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-details {
  padding: 1rem 2rem;
}

.details-image {
  padding: 1rem;
  width: 200px;
}

.details {
  padding: 1rem;
  width: 350px;
}

.details h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0;
}

.details h3 {
  font-style: italic;
  font-weight: 200;
  margin-top: 0;
}

.details h4 {
  margin-bottom: 0;
}

.details p {
  margin: 0;
}
/* Set box-sizing for all elements */
*,
:after,
:before {
  box-sizing: border-box;
}

/* Create color variables */
:root {
  --primary: #090909;
  --secondary: #6d6b6a;
  --secondary-light: #9f9a98;
  --white: #fff;
}

/* Style the button and tell it not to grow */
button {
  background-color: var(--primary);
  border: 0;
  color: var(--white);
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  /* text-transform: uppercase; */
}

/* Add some margin on the left of any buttons
that follow another button or an input */
button + button,
input + button {
  margin-left: 2px;
}

form {
  padding: 1rem 0;
}

/* Style the input and tell it to grow */
input {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

/* Set the color of the placeholder text */
input::placeholder {
  color: var(--white);
}

/* Change the background of the input when
it is focused or hovered and remove its
default outline */
input:focus,
input:hover {
  background-color: var(--secondary);
  outline: 0;
}

img {
  /* margin-bottom: 1rem; */
  width: 100%;
}

/* Add a media query to add more space between
the button and input when the browser is at least
600px wide */
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
}

.gallery {
  column-count: 2;
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}

.brand {
  align-items: center;
  display: flex;
  width: auto;
}

.brand img {
  height: 2rem;
  margin: 0 0.5rem 0 0;
  width: auto;
}

.brand h1 {
  font-weight: 200;
  letter-spacing: -1px;
  margin-right: 1rem;
  white-space: nowrap;
}
